/* -------------------------------------- */
/*  FOOTER                                */
/* -------------------------------------- */
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}
footer {
  background: rgb(61, 60, 60);
  color: white;
  padding: 60px 15px;

  @extend .container!optional;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.8rem;
  }
}

/* -------------------------------------- */
/*  RESPONSIVE                            */
/* -------------------------------------- */

/* TABLETTE */
@media (max-width: 1024px) {
  header {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 40px;
  }

  .grid-product {
    grid-template-columns: 1fr;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }

  header {
    padding: 50px 30px;

    h1 {
      font-size: 3.5rem !important;
    }

    h2 {
      font-size: 2.5rem !important;
    }

    p {
      font-size: 1.6rem !important;
    }
  }

  .grid-product {
    padding: 30px;
  }

  footer {
    flex-direction: column;
    gap: 20px;
  }
}
