/* Conteneur interne propre */

/* -------------------------------------- */
/*  NAVIGATION                            */
/* -------------------------------------- */
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}
nav {
  color: var(--grey2);
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Outfit";
  @extend .container;

  .logo img {
    height: 88px;
  }

  .list {
    display: flex;
    align-items: center;
    gap: 30px;

    a li {
      font-size: 2rem;
    }

    a:hover {
      color: var(--grey3);
    }
  }
}

/* -------------------------------------- */
/*  HEADER HERO SECTION                    */
/* -------------------------------------- */

header {
  @extend .container;
  background-color: var(--grey2);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 80px 50px;
  width: 96%;
  margin: 60px auto;

  .left_part {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      font-size: 5rem;
      font-weight: 600;
    }

    h2 {
      font-size: 3.5rem;
    }

    p {
      font-size: 2rem;
      line-height: 1.3;
      color: var(--grey);
    }
  }

  .right_part img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
