.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}
.container_shop {
  padding: 100px 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  .product_shop {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    a {
      .product_container_detail {
        position: absolute;
        inset: 0;
        opacity: 0;
        background: rgba(209, 33, 33, 0.55);
        border-radius: 20px;
        display: grid;
        place-items: center;
        transition: opacity 0.3s ease;

        p {
          font-size: 1.4rem;
        }
      }
    }
    .img_product {
      background: rgb(239, 238, 238);
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 90%;
        height: auto;
      }
    }
    &:hover .product_container_detail {
      opacity: 1;
    }
    .product_name {
      margin-top: 10px;
      font-size: 0.9rem;
      font-family: sans-serif;
      font-weight: 500;
      color: black;
    }
    .product_price {
      font-size: 0.9rem;
      color: rgb(187, 187, 187);
      font-weight: 100;
    }
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}
