:root {
  --black: #000000;
  --white: #ffffff;
  --bg_color: #f4f4f4;
  --grey: #adadad;
  --grey2: #575757;
  --grey3: #888888;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}
